In [ ]:
import pandas as pd

In [ ]:
ls

In [ ]:
df = pd.read_csv("budget_data.csv")

In [25]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [26]:
# Dependencies
import csv

In [27]:
# Files to Load
file_to_load = "budget_data.csv"
file_to_output = "budget_data.csv"

In [28]:
# Variables to Track
total_months = 0
total_revenue = 0

In [29]:
prev_revenue = 0
revenue_change = 0
greatest_increase = ["", 0]
greatest_decrease = ["", 9999999999999999999999]

In [30]:
revenue_changes = []

In [37]:
# Read Files
with open(file_to_load) as revenue_data:
    reader = csv.DictReader(revenue_data)

    # Loop through all the rows of data we collect
    for row in reader:

        # Calculate the totals
        total_months = total_months + 1
        total_revenue = total_revenue + int(row["Profit/Losses"])
        # print(row)

        # Keep track of changes
        revenue_change = int(row["Profit/Losses"]) - prev_revenue
        # print(revenue_change)

        # Reset the value of prev_revenue to the row I completed my analysis
        prev_revenue = int(row["Profit/Losses"])
        # print(prev_revenue)

        # Determine the greatest increase
        if (revenue_change > greatest_increase[1]):
            greatest_increase[1] = revenue_change
            greatest_increase[0] = row["Date"]

        if (revenue_change < greatest_decrease[1]):
            greatest_decrease[1] = revenue_change
            greatest_decrease[0] = row["Date"]

        # Add to the revenue_changes list
        revenue_changes.append(int(row["Profit/Losses"]))

    # Set the Revenue average
    revenue_avg = sum(revenue_changes) / len(revenue_changes)
    
    # Show Output
    print()
    print()
    print()
    print("Financial Analysis")
    print("-------------------------")
    print("Total Months: " + str(total_months))
    print("Total Revenue: " + "$" + str(total_revenue))
    print("Average Change: " + "$" + str(round(sum(revenue_changes) / len(revenue_changes),2)))
    print("Greatest Increase: " + str(greatest_increase[0]) + " ($" +  str(greatest_increase[1]) + ")") 
    print("Greatest Decrease: " + str(greatest_decrease[0]) + " ($" +  str(greatest_decrease[1]) + ")")

Financial Analysis
-------------------------
Total Months: 174
Total Revenue: $77633040
Average Change: $446309.05
Greatest Increase: Feb-2012 ($1926159)
Greatest Decrease: Sep-2013 ($-2196167)

IndentationError: unexpected indent (3222364730.py, line 2)